.header{
    background-color: white;
    padding: 25px;
    /* border: 1px grey solid; */
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 4px rgba(81, 78, 78, 0.1);
    align-items: center;
}

.nav-items{
    display: flex;
}
h1 {
    font-family: 'Montserrat-Bold';
    margin: 0;
}
h3{
    margin: 0;
    font-family: 'Montserrat-Regular';
    text-decoration: 'none';
    color: black;
}

 

.css-6hp17o-MuiList-root-MuiMenu-list{
    padding-top: 0;
    padding-bottom: 0;
}

@media(max-width: 600px) {
    h1 {
        font-size: 10px;
    }
  }

  @media(max-width: 900px) {
    h1 {
        font-size: 24px;
    }
    h3{
        font-size: 15px;
    }
  }


 